/* 
nice color pairs
****************
dark 
    #3b3b4f 
    #0a0a23
    background-color: #1b1b32;
    color: #f5f6f7 ;
    textcolor
    #dfdf2e

*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    background-color: #1b1b32;
    color: #f5f6f7;
    margin: 0;
}

h1 {
    color: #f5f6f7;
    text-align: center;
}

.page-description {
  width: 100%;
  text-align: center;
}

.adspace-horiz {
  margin: 10px auto;
  max-width: 500px;
  border: 5px solid #fff;
}

.adspace-vert {
  max-height: 600px;
  border: 5px solid #fff;
}

/* content and children */
content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-divider {
  width: 5%;
  border: 2px solid blue;
  padding-left: 15px;
  padding-right: 10px;
}

.sidebar-left {
    border: 2px solid yellow;
    min-width: 160px;
    width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px;
  gap: 16px;
}

.sidebar-right {
    border: 2px solid red;
    min-width: 160px;
    width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  overflow: hidden;
}

main {
  min-width: 50%;
}

content {
    font-size: 20px;
    padding: 40px;
}

address {
  text-align: center;
}

/*
about.html
*/
table {
  margin: 0 auto;
}


/* 
menu bar 
*/

/* screen reader accessibility notes */
/* .screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */